@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section style{
    <style>
        .news_block {
            margin-top: 50px;
        }

        .news_box {
            border: 1px solid #000000;
        }

        hr {
            border-top: 2px solid #000000;
        }
    </style>

}

<div class="row news_block title_block">
    <h1 class="text-center">Single News</h1>
</div>


