

<h1>THIS Is Index View!</h1>

<a class="btn btn-default" asp-route-area="Management" asp-controller="RoleManage" asp-action="RoleManage">RoleManage</a>
<a class="btn btn-default" asp-route-area="Management" asp-controller="RoleManage" asp-action="EditRoles">Edit User Roles</a>

@*@Html.ActionLink("RoleManage", "RoleManage", "RoleManage", new { area = "ManagmentArea" }, null)
    @Html.ActionLink("EditRoles", "EditRoles", "RoleManage", new { area = "ManagmentArea" }, null)*@