

<h1>THIS Is Index View!</h1>

<a class="btn btn-default" href="/ManagementArea/RoleManage/RoleManage">RoleManage</a>
<a class="btn btn-default" href="/ManagementArea/RoleManage/EditRoles">Edit User Roles</a>

@*@Html.ActionLink("RoleManage", "RoleManage", "RoleManage", new { area = "ManagmentArea" }, null)
    @Html.ActionLink("EditRoles", "EditRoles", "RoleManage", new { area = "ManagmentArea" }, null)*@