@section style{
    <style>
        .team_block {
            margin-top: 50px;
        }

        .team_image {
            text-align: center;
            margin-bottom: 10px;
        }

        .team_description_img {
            text-align: center;
        }
    </style>

}

<div class="row team_block team_page_title">
    <h1 class="text-center">Teams</h1>
</div>

<div class="team_block team_block_about">
    <div class="row">
        <div class="col-md-6 team_description">
            <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to tell a story and let your users know a little more about you.</p>
        </div>

        <div class="col-md-6 team_description_img">
            <img src="~/images/placeholder3.jpg" alt="" class="img-responsive img-rounded" />
        </div>
    </div>
</div>

<div class="team_block team_block_group">
    <div class="row">
        <div class="col-md-6 team_image">
            <div class="team_title"></div>
            <div class="inner_team_image">
                <img src="~/images/placeholder2.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 team_image">
            <div class="team_title"></div>
            <div class="team_image inner_team_image">
                <img src="~/images/placeholder2.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 team_image">
            <div class="team_title"></div>
            <div class="team_image inner_team_image">
                <img src="~/images/placeholder2.jpg" alt="" />
            </div>
        </div>

        <div class="col-md-6 team_image">
            <div class="team_title"></div>
            <div class="team_image inner_team_image">
                <img src="~/images/placeholder2.jpg" alt="" />
            </div>
        </div>
    </div>
</div>

