@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@section styles{
    <style>
        #team_info {
            background: #282525;
            padding: 15px;
            color: bisque;
        }

        #div_teamImg {
            margin-top: 8%;
        }

        #team_title {
        }

        #team_img {
            margin-top: 10px;
        }
    </style>
}
<div id="team_info" class="container">
    <div id="div_teamImg">
        <h2 id="team_title">
            Team: Strong Neighbour
        </h2>
        <img id="team_img" src="~/images/Teams/neighbourhoodsBanner.jpg" />
    </div>

    <div>
        <h3 class="darkText"><b>What we are up to:</b><br /><small>16th January, 2016</small></h3>
        <div>
            <p><b>Convenor:</b>  Peggy Peek</p>
            <p><b>Email:</b> peggypeek@gmail.com</p>
            <p><b>Telephone:</b> 216 2365</p>

            <hr />

            <h4>Purpose:</h4>
            <p>To facilitate and sponsor projects at a more local, neighbourhood level to help neighbours establish and strengthen relationships with each other, thus increasing community health, happiness and resilience</p>
            <div class="clearfix"></div>

            <hr />

            <h4>What have we done?</h4>

            <i><b>Neighbourhood Project Fund</b></i>
            <p>A fund which gives up to $1000 to groups or individuals for community projects, where the group matches that amount in-kind (labour, donations of products or services etc). So far funded three projects have been funded:</p>
            <ul>
                <li>New River School - walkway upgrade to Kew Road</li>
                <li>A church to establish a community vegetable garden</li>
                <li>Sport Southland to run a 10 week fitness programme at the Community Park Gym</li>
            </ul>

            <hr />

            <h3>Forward plans</h3>

            <p><i>Over the Fence</i></p>
            <p>The idea for this project is to help neighbours meet each other by providing some financial assistance for the hosting neighbour(s) to have a morning or afternoon tea, bbq etc – which could be at one neighbours house, or the nearest park etc. There are also some materials to go with that e.g. sample invitations and guides on what to do.</p>
            <p>However, the project needs some new volunteers to take it up and make it happen. Let us know if you might be interested in working with others on this.</p>
        </div>
    </div>
</div>


