@model Version1.ViewModels.Team.TeamMemberIndexViewModel
<br/>
<p>
    <a class="btn btn-default" asp-area="Management" asp-controller="TeamManage" asp-action="Create">Create New</a>
</p>
<table    id="Teamstable" class="display" cellspacing="0" width="100%">
    <thead>
         <tr>
            <th>
                Team name
            </th>
            <th>Members amount</th><th></th>
         </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams){
            <tr>
                <td>
                    @item.TeamName
                </td>
                <td>
                    @{ int u = 0;
                        if (item != null)
                        {
                            if (Model.TeamMembers.Where(t => t.TeamId == item.TeamId) == null)
                            {
                                u = 0;
                            }
                            else
                            {
                                u = Model.TeamMembers.Where(t => t.TeamId == item.TeamId).Count();
                            }
                        }
                        @u
                    }
                </td>
                <td>
                    <a asp-area="Management" asp-controller="TeamManage" asp-action="Edit" asp-route-id="@item.TeamId ">Edit</a> |
                    <a asp-area="Management" asp-controller="TeamManage" asp-action="Details" asp-route-id="@item.TeamId">Details</a> |
                    <a asp-area="Management" asp-controller="TeamManage" asp-action="Delete" asp-route-id="@item.TeamId">Delete</a>
                </td>
            </tr>
                        }
    </tbody>
</table>
 
@section Scripts {
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        
        $('#Teamstable').DataTable({ "columnDefs": [{ "className": "dt-center", "targets": "_all" }] });
     });
</script>}