
@section style{
    <style>
        .venue_block {
            margin-top: 50px;
        }

        .venue_img {
        }

        .inner_block {
            margin-top: 20px;
        }

        .single_venue {
            /*border: solid 1px black;*/
            text-align: center;
        }

        .thumbnail {
            box-shadow: 3px 3px 6px .8px #393939;
            border: 1px solid #808080;
            width: 90%;
            height: auto;
        }
    </style>
}

<div class="venue_block venue_page_title">
    <h1 class="text-center">Venues</h1>
</div>

<div class="row venue_block venues_group">
    <div class="col-xs-12 col-sm-6 col-md-4 inner_block single_venue">
        <div class="thumbnail">
            <a href="#">
                <img class="venue_img" src="~/images/Gallery/1.jpg" alt="...">
            </a>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>This is just the random discription...</p>
                <p><a href="#" class="btn btn-primary" role="button">Book This Venue</a></p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 inner_block single_venue">
        <div class="thumbnail">
            <a href="#">
                <img class="venue_img" src="~/images/Gallery/1.jpg" alt="...">
            </a>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>This is just the random discription...</p>
                <p><a href="#" class="btn btn-primary" role="button">Book This Venue</a></p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 inner_block single_venue">
        <div class="thumbnail">
            <a href="#">
                <img class="venue_img" src="~/images/Gallery/1.jpg" alt="...">
            </a>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>This is just the random discription...</p>
                <p><a href="#" class="btn btn-primary" role="button">Book This Venue</a></p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 inner_block single_venue">
        <div class="thumbnail">
            <a href="#">
                <img class="venue_img" src="~/images/Gallery/1.jpg" alt="...">
            </a>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>This is just the random discription...</p>
                <p><a href="#" class="btn btn-primary" role="button">Book This Venue</a></p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 inner_block single_venue">
        <div class="thumbnail">
            <a href="#">
                <img class="venue_img" src="~/images/Gallery/1.jpg" alt="...">
            </a>
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>This is just the random discription...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>
