@model Version1.Models.Events

@{
    ViewData["Title"] = "Create";
  
}

<h2>Create</h2>

<form sp-area="Management" asp-controller="Events" asp-action="Create">

    <div class="form-horizontal">
        <h4>Events</h4>
        <hr />

        <table width="100%">
               <tr width="100%">
                    <td width="50%">
                        <div class="form-group">
                            <label asp-for="event_name" class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input asp-for="event_name" class="form-control" />
                                <span asp-validation-for="event_name" class="text-danger" />
                            </div>
                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="event_address" class="col-md-2 control-label">Address</label>
                            <div class="col-md-10">
                                <input asp-for="event_address" class="form-control" />
                                <span asp-validation-for="event_address" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="event_datetime" class="col-md-2 control-label">Date</label>
                            <div class="col-md-10">
                                <input asp-for="event_datetime" class="form-control" />
                                <span asp-validation-for="event_datetime" class="text-danger" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="event_profile" class="col-md-2 control-label">Profile</label>
                            <div class="col-md-10">
                                <textarea asp-for="event_profile" class="form-control" id="Description"
                                          data-val-required="The Description field is required."
                                          data-val-maxlength-max="5000"
                                          data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'."></textarea>
                                <span asp-validation-for="event_profile" class="text-danger" />
                            </div>
                        </div>

                        <input type="hidden" asp-for="teamid" class="form-control" />


     
    <div class="form-group"> 
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    </td>
    <td width="50%">
        <div class="form-group">
            <a style="text-align:left" class="col-md-7 control-label" asp-area="default" asp-controller="UploadFile" asp-route-id="Management/Events/Create" asp-action="Index"> Upload Activity Photo</a>
            <div class="col-md-7" style="align-content:center">
                @{if(TempData["photoaddress"] != null)
                    {
                        <img src="~/images/Events/@TempData["photoaddress"].ToString()" align="left" width="300" height="500" display=inline>
                        <input type="hidden" asp-for="event_picture" value="@TempData["photoaddress"].ToString()" class="form-control" />
                    }
                    else
                    {
                        <img src="~/images/Events/default.jpg" align="left" width="300" height="500" display=inline>
                    }
                }
                

            </div>
        </div>
    </td>
    </tr>
 
    </table>
    </div>
</form>

<div>
    <a sp-area="Management" asp-controller="Events" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
