@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<div class="fixed_sponsor">
        <img class="img-responsive img-circle" src="~/images/ctoslogo.png" alt="Alternate Text" />
    </div>*@


<div id="div_fixedSponsors" class="container">
    <div id="div_images" class="row">
        <div class="col-md-2 div_image">
            <img class="img-center img-responsive sponsorImg" src="~/images/ctoslogo.png" alt="Alternate Text" />
        </div>
        <div class="col-md-2 div_image">
            <img class="img-center img-responsive sponsorImg" src="~/images/iltlogo.png" alt="Alternate Text" />
        </div>
        <div class="col-md-2 div_image">
            <img class="img-center img-responsive sponsorImg" src="~/images/pocock.png" alt="Alternate Text" />
        </div>
        <div class="col-md-2 div_image">
            <img class="img-center img-responsive sponsorImg" src="~/images/southroadslogo.png" alt="Alternate Text" />
        </div>
        <div class="col-md-2 div_image">
            <img class="img-center img-responsive sponsorImg" src="~/images/icclogo.png" alt="Alternate Text" />
        </div>
        <div class="col-md-2 div_image">
            <img class="img-center img-responsive sponsorImg" src="~/images/iltlogo.png" alt="Alternate Text" />
        </div>
    </div>
</div>


