@model Version1.Models.ApplicationUser

 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-area="Management" asp-controller="Volunteer"  asp-action="Create">
    <div class="form-horizontal">
        <h4>ApplicationUser</h4>
        <hr /> 
        <div class="form-group">
            <label asp-for="Portrait" class="col-md-2 control-label">portrait</label>
            <div class="col-md-10">
                @{ string pfile = "defaultportrait.png";
                    if (TempData["ppp"] != null)
                    {
                        if (TempData["ppp"] != "")
                        {
                            pfile = TempData["ppp"].ToString();
                        }
                      
                    }
                }
                <img src="~/images/portrait/@pfile" align="left" height="210" width="190" display=inline>
                <input asp-for="Portrait" text="@pfile" value="@pfile"  type="hidden"  class="form-control" />
                <span asp-validation-for="Portrait" class="text-danger" />

            </div>

            <div class="form-group" align="left">
                <label class="col-md-2 control-label"> </label>
                <div class="col-md-10">
                    <a asp-area="default" asp-controller="UploadFile" asp-action="Index">&nbsp&nbsp Update your portrait</a>
                </div>
            </div>
                <div class="form-group">

                    <label asp-for="Age" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger" />
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="EmailConfirmed" />
                            <label asp-for="EmailConfirmed"></label>
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>


                @*<div class="form-group">
                    <label asp-for="NormalizedEmail" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NormalizedEmail" class="form-control" />
                        <span asp-validation-for="NormalizedEmail" class="text-danger" />
                    </div>
                </div>*@
                @*<div class="form-group">
                    <label asp-for="NormalizedUserName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="NormalizedUserName" class="form-control" />
                        <span asp-validation-for="NormalizedUserName" class="text-danger" />
                    </div>
                </div>*@

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger" />
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="PhoneNumberConfirmed" />
                            <label asp-for="PhoneNumberConfirmed"></label>
                        </div>
                    </div>
                </div>*@


                <div class="form-group">
                    <label asp-for="UserName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
</form>

<div>
    <a sp-area="Management" asp-controller="Volunteer" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
