@model Version1.Models.ApplicationUser

 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<form sp-area="Management" asp-controller="Volunteer" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>ApplicationUser</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="col-md-2 control-label">User Portrait</label>
            <div class="col-md-10">
                <input type="file" id="NewsImagepp" value="Open file" title="Open file" accept=".JPG,.JPEG,.GIF,.PNG,.bmp" name="NewsImagepp" />
                <br>
                @{if (Model.Portrait == null)
                    {
                        <img id="opop" src="~/images/portrait/defaultportrait.png" align="left" width="190" height="210" display=inline>
                    }
                    else
                    {
                        <img id="opop" src="~/images/portrait/@Model.Portrait" align="left" width="190" height="210" display=inline>
                    }}

                <input type="hidden" asp-for="Portrait" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="gender" class="form-control"><option>Male</option><option>Female</option></select>
            </div>
            <span asp-validation-for="gender" class="text-danger" />
        </div>
    
        <div class="form-group">
            <label asp-for="Age" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConcurrencyStamp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="NormalizedEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NormalizedUserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NormalizedUserName" class="form-control" />
                <span asp-validation-for="NormalizedUserName" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">  
           
    <label asp-for="EmailConfirmed" class="col-md-2 control-label"> Email Confirmed</label>
            <div class="col-md-10">
                <input asp-for="EmailConfirmed" style="width:35" type="checkbox" class="form-control" />
            </div>
</div>
        <div class="form-group">
                <label asp-for="PhoneNumberConfirmed" class="col-md-2 control-label"> Phone-Number Confirmed</label>
            <div class="col-md-10">
                <input asp-for="PhoneNumberConfirmed" style="width:35" type="checkbox" class="form-control" />
            </div>
            </div>
        <div class="form-group">
            <label asp-for="UserState" class="col-md-2 control-label">User State</label>
            <div class="col-md-10">               
            <select asp-for="UserState" class="form-control" ><option>Primary User</option><option>Contacted User</option><option>Zombie User</option></select>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
     
</form>

<div>
    <a sp-area="Management" asp-controller="Volunteer" asp-action="Index">Back to List</a>
</div>


    @section Scripts {
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
        <script src="/lib/ckeditor/ckeditor.js"></script>
        <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">


        <script>
    $(function () {
     
   var  getobjectpath= function (file) {
        var url = null;
        if (window.createObjectURL != undefined) {
            url = window.createObjectURL(file)
        } else if (window.URL != undefined) {
            url = window.URL.createObjectURL(file)
        } else if (window.webkitURL != undefined) {
            url = window.webkitURL.createObjectURL(file)
        }
        return url
    };
   $("#NewsImagepp").change(function () {
        var imagepath = getobjectpath(this.files[0]);
        if (imagepath != "") {
            $("#opop").hide;
            $("#opop").attr('src', imagepath);
            $("#opop").fadeIn(1000);
        }
   });
    });
        </script>
    }
</body>
</html>
