@model Version1.Models.Authorization_Object

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form  asp-route-area="management" asp-action="Edit">
    <div class="form-horizontal">
        <h4>authorization_Object</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="ObjectName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ObjectName" class="form-control" />
                <span asp-validation-for="ObjectName" class="text-danger" />
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="ActionName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActionName" class="form-control" />
                <span asp-validation-for="ActionName" class="text-danger" />
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="FullControllerName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FullControllerName" class="form-control" />(including Area)
                <span asp-validation-for="FullControllerName" class="text-danger" />
            </div>
        </div> 
        <div class="form-group">

            <label asp-for="ObjectDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                 
                <textarea    asp-for="ObjectDescription" class="form-control" id="Description"  
                          data-val-required="The Description field is required."
                          data-val-maxlength-max="5000"
                          data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'."
                          ></textarea>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="ObjectType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ObjectType"  class="form-control" />
             <!-- <option value="procedure" selected>procedure</option>-->  
                <option value="function" selected>function</option>
                <option value="infomation" >infomation</option>
                <span asp-validation-for="ObjectType" class="text-danger" />
            </div> 
        </div>
        
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-route-area="management"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
