@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section style{
    <style>
        .teamDetail_block {
            margin-top: 50px;
        }

        .contact_title {
            background-color: #c8e3f4;
        }

        .table {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .14);
        }
    </style>
}


<div class="row teamDetail_block title_block">
    <h1 class="text-center">Event One</h1>
</div>

<div class="row text-center teamDetail_block img_contact_block">
    <div class="col-md-8 inner_block text-center img_block">
        <img class="img-center img-responsive" src="~/images/Teams/neighbourhoodsBanner.jpg" alt="Alternate Text" />
    </div>

    <div class="col-md-4 text-center inner_block contact_block">
        <div class="text-center contact_title">
            <p>CONTACT</p>
        </div>

        <div class="text-center contact_detail">
            <p><b>Convenor:</b>  Peggy Peek</p>
            <p><b>Email:</b> peggypeek@gmail.com</p>
            <p><b>Telephone:</b> 216 2365</p>
        </div>
    </div>
</div>

<p class="hide"><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under the specified parent will be closed when one of the collapsible item is shown.</p>
<div class="panel-group teamDetail_block main_detail_block" id="accordion">
    <div class="panel panel-default inner_block">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible Group 1</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
    <div class="panel panel-default inner_block">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
    <div class="panel panel-default inner_block">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Collapsible Group 3</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>




