<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
@model HomeIndexViewModel

@section style{
    <style>
        .home_block {
            margin-top: 50px;
        }

        .carousel {
            width: inherit;
        }

        .item {
            color: #666;
            background: #333;
            height: 300px;
            line-height: 300px;
            /* Align the text vertically center. */
            font-size: 52px;
            text-align: center;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .carousel-control {
            top: 50%;
            /* border 3px, size 40px */
            border: 3px solid #fff;
            -webkit-border-radius: 23px;
            -moz-border-radius: 23px;
            border-radius: 23px;
            width: 40px;
            height: 40px;
            margin-top: -20px;
            font-size: 60px;
            font-weight: 100;
            line-height: 25px;
            color: #fff;
            text-align: center;
            opacity: .5;
            filter: alpha(opacity=50);
        }

        .bs-example {
            margin: 20px;
        }
        /* cancel background image gradient */
        .carousel-control.left-flat {
            right: auto;
            left: 15px;
        }
        /* override background image gradient */
        .carousel-control.right-flat {
            right: 15px;
            left: auto;
        }

        .hori_inner_block {
        }

        .horizontal_eventsBar {
            background-color: cadetblue;
        }

        .block_slider {
            overflow: hidden;
            position: relative;
        }
    </style>
}

<!-- Page Content -->

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7&appId=539163436255187";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="row home_main">
    <div class="col-md-8" role="main">
        <div class="home_block block_titleBox">
            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
        </div>

        <div class="home_block block_slider bs-example">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">Slide 1</div>
                    <div class="item">Slide 2</div>
                    <div class="item">Slide 3</div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left-flat" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right-flat" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

        <div class="horizontal_eventsBar row">
            <div class="col-md-4 hori_inner_block" id="block1">
                <div class="event_image">
                    <a href="#">
                        <img src="~/images/Home/learn_1.jpg" alt="" class="img-responsive" />
                    </a>
                </div><!-- event_image -->
            </div>

            <div class="col-md-4 hori_inner_block" id="block2">
                <div class="event_image">
                    <a href="#">
                        <img src="~/images/Home/learn_1.jpg" alt="" class="img-responsive" />
                    </a>
                </div><!-- event_image -->
            </div>

            <div class="col-md-4 hori_inner_block" id="block3">
                <div class="event_image">
                    <a href="#">
                        <img src="~/images/Home/learn_1.jpg" alt="" class="img-responsive" />
                    </a>
                </div><!-- event_image -->
            </div>

            <div class="col-md-4 hori_inner_block" id="block4">
                <div class="event_image">
                    <a href="#">
                        <img src="~/images/Home/learn_1.jpg" alt="" class="img-responsive" />
                    </a>
                </div><!-- event_image -->
            </div>
        </div>
    </div>

    <div class="col-md-4" role="complementary">
        <div class="home_block vertical_buttonsBar">

        </div>

        <div class="home_block vertical_facebookBar">
            <div class="fb-page" data-href="https://www.facebook.com/SouthAlive" data-tabs="timeline" data-width="600" data-height="600" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/SouthAlive" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SouthAlive">South Alive.</a></blockquote>
            </div>
        </div>
    </div>
</div>

<div class="row home_sponser"></div>
