<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
@model HomeIndexViewModel

@section styles{
    <style>
        #div_images {
            margin-top: 30px;
        }

        .div_image {
            min-height: 180px;
            height: 220px;
        }

        .sponsorImg {
            max-width: 250px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        #div_news {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #div_events {
            margin-top: 30px;
            color: white;
            background-color: #76c49e;
            text-align: center;
            padding-bottom: 30px;
        }

        .event_info {
            margin-top: 10px;
            background-color: black;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #div_sponsors {
            margin: 0;
            background-color: blanchedalmond;
        }
        hr{
            
        }
    </style>
}

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:15%">
                <h1 class="tagline">Business Name or Tagline</h1>
                <p>"A vibrant and diverse community that takes the lead in its own future.."</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div id="div_news" class="container">
    <div>
        <h1 class="text-center">What's new</h1>
        <h5 class="text-center"><em>ipsum dolor sit amet consectetur.</em></h5>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-thumbnail img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #1</h2>
            <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            <a class="btn btn-default btn-sm" href="#">Read More &raquo;</a>
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #2</h2>
            <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <a class="btn btn-default btn-sm" href="#">Read More &raquo;</a>
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Marketing Box #3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <a class="btn btn-default btn-sm" href="#">Read More &raquo;</a>
        </div>
    </div>
</div>

<div id="div_events">
    <div class="container">
        <div>
            <h1 class="text-center">Recent events</h1>
            <h5 class="text-center"><em>ipsum dolor sit amet consectetur.</em></h5>
        </div>
        <br />
        @foreach(var e in Model.Events)
        {
            <div class="col-md-3">
                <img class="img-responsive" style="width:690px;height:200px" src="~/images/Events/@e.event_picture" />
                <div class="event_info">
                    <strong><i>@e.event_name</i></strong>
                    <address>@e.event_address</address>
                    <strong>@e.event_datetime.ToString()</strong>
                    <p><i>@e.event_profile</i></p>
                </div>
            </div>
        }
    </div>
</div>

<div id="div_sponsors">
    <div class="container">
        <h1 class="text-center">Sponsors</h1>
        <div id="div_images" class="row">
            <div class="row">
                <div class="col-md-4 div_image">
                    <img class="img-center img-responsive sponsorImg" src="~/images/ctoslogo.png" alt="Alternate Text" />
                </div>
                <div class="col-md-4 div_image">
                    <img class="img-center img-responsive sponsorImg" src="~/images/iltlogo.png" alt="Alternate Text" />
                </div>
                <div class="col-md-4 div_image">
                    <img class="img-center img-responsive sponsorImg" src="~/images/pocock.png" alt="Alternate Text" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 div_image">
                    <img class="img-center img-responsive sponsorImg" src="~/images/southroadslogo.png" alt="Alternate Text" />
                </div>
                <div class="col-md-4 div_image">
                    <img class="img-center img-responsive sponsorImg" src="~/images/icclogo.png" alt="Alternate Text" />
                </div>
                <div class="col-md-4 div_image">
                    <img class="img-center img-responsive sponsorImg" src="~/images/iltlogo.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.row -->
