@model Version1.Models.Newsletter

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Management/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Create</h2>

<form  asp-route-area="management" asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Newsletter</h4>
        <hr />
        <div class="form-group">
            <label asp-for="NewsletterName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NewsletterName" class="form-control" />
                <span asp-validation-for="NewsletterName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublishDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PublishDate"   type="date" id="newsletterdate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger" />
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Detail" class="col-md-2 control-label"></label>
            <div class="col-md-10">            
                <textarea asp-for="Detail" class="form-control" id="editor1" rows="10" cols="200">
                    This is my textarea to be replaced with CKEditor.
                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label   class="col-md-2 control-label">PDF FILE</label>
            <div class="col-md-10">
                <input type="file" id="NewsImagepp" value="Open file" title="Open file" accept=".PDF" name="NewsImagepp" />   
                @*<img id="opop" src="~/images/Newsletters/" align="left" hidden="hidden" width="400" height="200" display=inline>*@       
            </div>
        </div>
              
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-route-area="management" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <script src="/lib/ckeditor/ckeditor.js"></script>
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">


<script>
    $(function () {
        CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
        CKEDITOR.replace('editor1');
        document.getElementById('newsletterdate').valueAsDate = new Date();
   var  getobjectpath= function (file) {
        var url = null;
        if (window.createObjectURL != undefined) {
            url = window.createObjectURL(file)
        } else if (window.URL != undefined) {
            url = window.URL.createObjectURL(file)
        } else if (window.webkitURL != undefined) {
            url = window.webkitURL.createObjectURL(file)
        }
        return url
    };
   $("#NewsImagepp").change(function () {
        var imagepath = getobjectpath(this.files[0]);
        if (imagepath != "") {
            $("#opop").attr('src', imagepath);
            $("#opop").fadeIn(1000);
        }
   });
    });
</script>
}