

<h1>THIS Is Index View!</h1>

<a class="btn btn-default" asp-action="RoleManage" asp-controller="Role">RoleManage</a>
<a class="btn btn-default" asp-action="EditRoles" asp-controller="Role">Edit User Roles</a>